@import url('./default.css');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

/*//////////////////////////////////////*/

main {
    background: url(./img/bg_paperTexture.jpg) repeat center;
    width: 100%;
    padding-bottom: 42px;
    overflow-x: hidden;
}

#home, #about, #fav {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

/* || home */
#home {
    position: relative;
    /* overflow-x: hidden; */
    height: calc(100vh - 42px);
    margin-bottom: 10vw;
}
#home::after {
    content: 'KANGHEEWON KANGHEEWON KANGHEEWON KANGHEEWON';
    font-size: 2.3vw;
    color: rgba(0, 0, 0, .2);
    transform: rotate(-30deg);
    display: block;
    position: absolute;
    letter-spacing: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 30vw;
    left: -17vw;
}


#home figure {
    width: 27vw;
    padding: 3vw 1vw;
    display: block;
    position: absolute;
}

#home figure img {
    max-width: 100%;
    height: auto;
}

#home ul {
    width: 100%;
    height: 100%;
}

#home ul li {
    line-height: 1;
    letter-spacing: 30px;
    z-index: 1;
}

#home ul li:first-child {
    text-align: right;
    padding-right: 4.5vw;
    padding-top: 7vw;
}

#home ul li:last-child {
    padding-left: 5vw;
    padding-top: 8vw;
}

#home ul li:last-child::after {
    content: '';
    display: block;
    position: absolute;
    top: 35vh;
    right: -5vw;
    border-radius: 50%;
    width: 27vw;
    height: 27vw;
    background: linear-gradient(to bottom right, #5798ed, #2E3D59);

    animation: spinCircle 2.5s linear infinite;
}

#home ul li a {
    font-size: 15vw;
    font-family: 'Rozha One', serif;
    color: #000;
}

#home ul li a {
    z-index: 1;
    position: relative;

    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 85%;
    transition: background-size 0.7s;

    background-image: linear-gradient(transparent 65%, #F8CD07 35%);
}

/* home a href hover */
#home ul li a {
    animation-duration: 1s;
}

#home ul li a:hover {
    background-size: 100% 85%;
}

#home ul li:first-child a {
    animation-name: leftSide;
}

#home ul li:last-child a {
    animation-name: rightSide;
    right: -100%;
    animation-delay: .7s;
    animation-fill-mode: forwards;
}

@keyframes leftSide {
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

@keyframes rightSide {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

@keyframes spinCircle {
    100% {
        transform: rotate(360deg);
    }
}


/* || about */
#about {
    width: 90%;
    height: calc(100vh - 42px);
    margin: 0 auto;
    padding: 3vw 0px;
}

#about h2 {
    display: none;
}

/* about_info */
.about_info {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* height: 70%; */
}

/* about_info > info */
.info {
    height: 100%;
    /* padding: 5% 0px; */
    box-sizing: border-box;
}
.info h3 {
    font-size: 5rem;
}

.info h3 b {
    font-weight: 100;
}

/* info > priv */
.priv li {
    font-size: 3rem;
    letter-spacing: 10px;
    padding-top: 10px;
}

/* info > contact */
.contact {
    padding-top: 26px;
    padding-right: 30px;
    box-sizing: border-box;
}

.contact li {
    font-size: 2rem;
    padding: 1vw 2vw;
    background-color: #000;
    margin: 1vw 0px;
    color: #fff;
}

.contact li:first-child {
    margin-left: 0px;
    margin-top: 0px;
}

.contact li:last-child {
    margin-bottom: 0px;
}

.contact li i {
    padding-right: 17px;
}

.contact li a {
    display: block;
    width: 100%;
}

/* about_info > figure */
.about_info figure {
    height: 100%;
}

.about_info figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
}

/* about_record */
.about_record {
    width: 100%;
    display: grid;
    padding-top: 3vw;
    grid-template-columns: 1fr 1fr 1fr;
    word-break: keep-all;
}

/* career, edu, certifi */
.about_record > div {
    box-sizing: border-box;
    padding: 0px 20px;
}

.about_record > div h3 {
    font-size: 5vw;
    background: linear-gradient(1deg, #B33BF5 25%, #000 72%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.about_record > div ul {
    padding: 0.5vw 0px;
}

.about_record > div ul li:first-child {
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
}

.about_record > div ul li:last-child {
    font-size: 1.8rem;
}

.about_record > div ul li h4 {
    font-weight: 400;
}



/* || fav */
#fav {
    padding: 2vw 7% 10vw;
    margin-top: 5vw;
}
#fav h2 {
    font-size: 15rem;
    text-align: center;
    color: #fff;
    text-shadow: 5px 1px 5px #999;
}

#fav ul li {
    display: inline-block;
    font-size: 2.2rem;
    padding: 0.95vw 2vw;
    border-radius: 50px;
    color: #fff;
    margin: 10px 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

#fav ul li::before {
    content: '#';
    display: inline-block;
    padding-right: 10px;
}




/* || aside contact me */
aside {
    width: 100%;
    position: fixed;
    z-index: 99;
    bottom: 0px;
    padding: 7px 10px;
    box-sizing: border-box;
    font-size: 2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px -10px 20px -5px rgba(0, 0, 0, .2);
}

aside em {
    font-weight: 700;
    text-decoration: underline;
    color: red;
}



/* || media query */
@media (max-width: 1024px) {
    #home {
        padding-top: 5em;
    }

    #home ul li:last-child::after {
        top: 47%;
    }

    #about {
        display: grid;
        place-items: center;
        padding: 0px;
    }

    #fav {
        display: grid;
        place-items: center;
        /* height: calc(100vh - 42px); */
    }

    #fav ul li {
        margin: 2vw 0.5vw;
    }
}

@media (max-width: 768px) {
    #home ul li {
        letter-spacing: 3vw;
    }

    #fav {
        padding: 2vw 4% 10vw;
    }

    #fav h2 {
        font-size: 12vw;
        text-align: right;
    }

    #fav ul li {
        padding: 1.95vw 3vw;
    }

    .info h3 {
        font-size: 3.5rem;
    }

    .priv li {
        font-size: 2rem;
    }

    .contact li {
        font-size: 1.5rem;
    }
}

@media (max-width: 540px) {
    #about {
        height: 100%;
        padding: 4% 0px 10%;
    }

    .about_record {
        display: block;
    }

    .about_record > div {
        padding-left: 0px;
        padding-top: 7%;
    }

    .about_record > div h3 {
        font-size: 2rem;
    }

    .about_record > div ul li:first-child {
        font-size: 1.5rem;
    }

    .about_record > div ul li:last-child {
        font-size: 1.4rem;
    }

    .info h3 {
        font-size: 1.8rem;
    }

    .priv li {
        font-size: 1.4rem;
        letter-spacing: 3px;
    }

    .contact {
        padding-top: 2vw;
        padding-right: 3vw;
    }

    .contact li {
        font-size: 1rem;
    }

    #fav ul li {
        padding: 1vw 2vw;
        font-size: 1.6rem;
        margin: 1vw 0.3vw;
    }
}